*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    
}
h1{
    color:rgb(0, 0, 0);
    position: absolute;
    top:20%;
    left:10%;
    font-style: italic;
    font-weight: bold;
}
p{
    color:rgb(0, 0, 0);
    position:absolute;
    top:30%;
    left:10%;
    width:500px;
    font-weight: 100;
    font-style: italic;
}
button{
    position:absolute;
    top:45%;
    left:10%;
    padding:10px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    

}
img{
    position:absolute;
    top:20%;
    left:60%;
    position:fixed;
}
#main2{
    height:100%;
    width:100%;
    background-color: #fff6f6;
    
}
#main2 p{
    position:absolute;
    top:110%;
    left:20%;
    width:500px;
    font-style: italic;

}
#box{
    height:400px;
    width:400px;
    background-color: #000;
    position:absolute;
    top:130%;
    left:8%;
    border-radius: 50%;
    border:2px solid rgb(255, 250, 250);
}
#box h4{
    position:absolute;
    top:50%;
    left:20%;
    color: whitesmoke;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}

